 <div class="super-container">
        <div class="container">
            <div class="login-box">
                <h2 class="login-title">Login</h2>
                <form id="loginForm" class="login-form">
                    <label for="email" class="form-label">Email:</label>
                    <input type="email" id="email" name="email" class="form-input" required>

                    <label for="password" class="form-label">Password:</label>
                    <input type="password" id="password" name="password" class="form-input" required>

                    <p class="signup-link">No tienes una cuenta? <a href="/signup" class="signup">Regístrate</a></p>

                    <button type="submit" class="login-btn">Iniciar Sesión</button>
                </form>
            </div>
        </div>
    </div>

<script src="/js/login.js"></script>